:root{
    --neutral-dark-grey:  hsl(0, 0%, 12%);
}
.buttons{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    
}
.card{
    width: 90%;
    background-color:var(--neutral-dark-grey);
    padding: 3rem;
    border-radius: 1rem;
}

@media (min-width: 450px){
    .card{
        width: 80%;
    }
}
@media (min-width: 500px){
    .card{
        width: 70%;
    }
}
@media (min-width: 550px){
    .card{
        width: 60%;
    }
}
@media (min-width: 800px){
    .card{
        width: 35rem;
    }
}

@media (min-width: 1440px){
    .card{
        width: 35rem;
    }
}

.img{
    display:flex;
    justify-content: center;
}
img{
    width: 30%;
    border-radius: 100%;
}

.info{
    display:flex ;
    flex-direction: column;
    text-align: center;
}

